.container {
  display: flex;
}

.menu {
  flex: 1;
  background-color: var(--bgSoft);
  min-height: 100vh;
  padding: 20px;
  border-right: 1px solid var(--borderSoft);
}

.content {
  flex: 6;
  padding: 30px;
}

.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.side {
  flex: 1;
}

.pieChartcontainer {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--borderSoft);
  width: 300px;
}

.chartsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* spacing between charts */
}

.chartItem {
  width: calc(50% - 10px);
  min-width: 300px;
}
